<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
<%- include('partials/header') %>

<main class="content">
    <section id="about-intro">
        <h1 class="section-title">About Page</h1>
        <p>This page displays the various project deliverables throughout the semester as well as sections to describe
            how I fulfilled the different project requirements and resources used.</p>
    </section>
    <hr>

    <!--   CONTENT MAP    -->
    <section id="content-map">
        <h1 class="section-title">Content Map</h1>
        <img src="/images/Concept%20map.jpeg" alt="">
    </section>
    <hr>

    <!--   WIREFRAMES    -->
    <section id="wireframe">
        <h1 class="section-title">Wireframes</h1>
        <div class="slider">
            <div class="slide_viewer">
                <div class="slide_group">
                    <div class="slide">
                        <img src="/images/wireframes/HOME.png" alt="">
                    </div>

                    <div class="slide">
                        <img src="/images/wireframes/FEATURED.png" alt="">
                    </div>

                    <div class="slide">
                        <img src="/images/wireframes/ABOUT.png" alt="">
                    </div>

                    <div class="slide">
                        <img src="/images/wireframes/CONTACT.png" alt="">
                    </div>
                </div>
            </div>
        </div><!-- End // .slider -->

        <!--     slider dots           -->
        <div class="slide_buttons"></div>

        <div class="directional_nav">
            <div class="previous_btn" title="Previous">
                <svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     x="0px"
                     y="0px"
                     width="75px"
                     height="75px"
                     viewBox="0 0 35 35">
                    <path fill="#474544"
                          d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564"/>
                </svg>
            </div>
            <div class="next_btn" title="Next">
                <svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     x="0px"
                     y="0px"
                     width="75px"
                     height="75px"
                     viewBox="0 0 35 35">
                    <path fill="#474544"
                          d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
                </svg>
            </div>
        </div>

    </section>
    <hr>
    <!--   WALK THROUGH     -->
    <section class="Categories">
        <div class="Category" id="walk-through">
            <h2 class="CategoryTitle section-title">Walk-through</h2>
            <ul class="SubCategories">
                <li class="SubCategory section-line">
                    <% walkLists.forEach(walkList =>{ %>
                    <ul class="About-List">
                        <li class="Item">
                            <p><span><%- walkList.requirement %></span><br>
                                - <%- walkList.description %>
                            </p>
                        </li>
                    </ul>
                    <% }) %>
                </li>
            </ul>
        </div>

        <!--   CREDITS     -->
        <div class="Category" id="credits">
            <h2 class="CategoryTitle section-title">Credits</h2>
            <ul class="SubCategories">
                <li class="SubCategory section-line">
                    <h4 class="SubCategorySubtitle">Languages</h4>
                    <ul class="About-List">
                        <li class="Item"><a href="https://expressjs.com/" target="_blank">ExpressJS</a></li>
                        <li class="Item"><a href="https://nodejs.org/en/" target="_blank">NodeJS</a></li>
                        <li class="Item">HTML</li>
                        <li class="Item">CSS</li>
                        <li class="Item">JavaScript</li>
                    </ul>
                </li>
            </ul>
            <ul class="SubCategories">
                <li class="SubCategory section-line">
                    <h4 class="SubCategorySubtitle">Design</h4>
                    <ul class="About-List">
                        <li class="Item"><a href="https://www.adobe.com/products/illustrator.html" target="_blank">Adobe Illustrator</a><br>
                            - Logo and favicon design</li>
                        <li class="Item"><a href="https://fontawesome.com/" target="_blank">Font Awesome</a><br>
                            - Social Icon</li>
                        <li class="Item"><a href="https://www.lucidchart.com/" target="_blank">Lucidchart</a><br>
                            - Content Map</li>
                    </ul>
                </li>
            </ul>
            <ul class="SubCategories">
                <li class="SubCategory section-line">
                    <h4 class="SubCategorySubtitle">Tools</h4>
                    <ul class="About-List">
                        <li class="Item"><a href="https://www.jetbrains.com/idea/" target="_blank">IntelliJ IDEA</a><br>
                            - text edit support multiple languages
                        </li>
                        <li class="Item"><a href="https://www.mongodb.com/" target="_blank">MongoDB Atlas/Mongodb Compass</a><br>
                            - GUI check database/ API
                        </li>
                        <li class="Item"><a href="https://web.postman.co/home" target="_blank">Postman</a><br>
                            - Test database
                        </li>
                        <li class="Item"><a href="https://web.postman.co/home" target="_blank">Bootstrap</a><br>
                            - used to style some elements
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</main>

<%- include('partials/footer-2') %>
</body>
<%- include('partials/scripts') %>
</html>

