<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body >

<%- include('partials/header') %>

<main class="content">
    <h1>
        Admin Page
    </h1>
    <section class="data-dump">
        <hr>
        <h3>Email List</h3>
        <hr>


            <p><%= contacts._id%></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>

            <table class="table">
                <thead class="thead-light">
                <tr>

                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date</th>
                    <th scope="col">Count</th>

                </tr>
                </thead>
                <tbody>
                <% contacts.forEach(contacts => { %>
                    <tr>
<!--                        <td> </td>-->
                        <td><%= contacts.firstname%></td>
                        <td><%= contacts.lastname%></td>
                        <td><%= contacts.email%></td>
                        <td><%= contacts.message%></td>
                        <td><%= contacts.date.toDateString()%></td>
                    </tr>
                <% });%>
                </tbody>
            </table>
    </section>
</main>
<%- include('partials/footer-2') %>
</body>
<%- include('partials/scripts') %>
</html>
