<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body >
<%- include('partials/header') %>

<main class="content">
    <section id="featured-intro">
        <h1 class="section-title">Featured Page</h1>
        <p>This page shows the various beautiful projects that I designed and developed.
            I focus primarily on building, prototyping and implementing user interfaces that are usable and scalable for any web-based platform.</p>
    </section>
    <section id="latest-project">
        <h1 class="section-title">Latest Projects</h1>
        <br>
        <div class="ProjectCarousel">
            <div class="List">
                <div class="Projects">
                    <% projects.latest.forEach(latest => { %>
                    <div class="Project">
                        <div class="Project-Info">
                            <h2 class="Title"> <%- latest.title %></h2>
                            <h3 class="project-description">
                                <%- latest.description %>
                            </h3>
                            <div class="project-stack mb-sm">
                                <h4 class="section__subtitle">Technologies used:</h4>
                                <div class="tag-group">
                                    <% latest.languages.forEach(language => { %>
                                        <span class="tag-group__tag tag-group__tag--card"><%= language %></span>
                                    <% }) %>
                                </div>
                            </div>
                            <div class="project-card--buttons">
                                <% if (latest.repo) { %>
                                    <a href="<%= latest.repo %>" class="btn btn--project mr-sm" target="_blank">View Code</a>
                                <% } %>
                                <% if (latest.link) { %>
                                    <a href="<%= latest.link %>" class="btn btn--project" target="_blank">Live Demo</a>
                                <% } %>
                            </div>
                        </div>
                        <div class="Project-image">
                            <img src="<%- latest.imagePath %>"></im>
                        </div>
                    </div>
                        <% }) %>
                </div>
            </div>

            <div class="Controls"> <!--      Slider Controller          -->
                <div aria-label="previous" class="Control prev" ></div>
                <div aria-label="next" class="Control  next"></div>
            </div>
        </div>
    </section>

    <section id="other-projects" style="padding-top: 50px; margin-bottom: 75px">
        <h1 class="section-title">Other Projects</h1>
        <div  class="Other-wrapper"> <!-- Wrapper -->
            <% projects.others.forEach(other => { %>
            <div class="Other-Project">
                <div class="project-card--buttons">
                    <% if (other.repo) { %>
                        <a href="<%= other.repo %>" target="_blank"><i class="fab fa-github-square" ></i> </a>
                    <% } %>
                    <% if (other.link) { %>
                        <a href="<%= other.link %>" target="_blank"><i class="fas fa-desktop smaller-icon"></i></a>
                </div>
                <h3 class="Title"> <%- other.title %></h3>
                <p class="project-description">
                    <%- other.description %>
                </p>
                <div class="project-stack mb-sm">
                    <h5 class="section__subtitle">Technologies used:</h5>
                    <div class="tag-group">
                        <% other.languages.forEach(language => { %>
                            <span class="tag-group__tag tag-group__tag--card"><%= language %></span>
                        <% }) %>
                    </div>
                </div>
                <br>
            </div>
            <% }})%>
        </div>
    </section>

    <section id="Graphic-Design">
        <h1 class="section-title">Graphic Design</h1>
        <div class="slider">
            <div class="slide_viewer">
                <div class="slide_group">
                    <div class="slide">
                        <img src="/images/graphics/jungsik_package.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/graphics/surface_1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/graphics/tad_tshirt.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/graphics/tabasco.jpg" alt="">
                    </div>
                </div>
            </div>
        </div><!-- End // .slider -->

        <!--     slider dots           -->
        <div class="slide_buttons"></div>
        <div class="directional_nav">
            <div class="previous_btn" title="Previous">
                <svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     x="0px"
                     y="0px"
                     width="75px"
                     height="75px"
                     viewBox="0 0 35 35">
                    <path fill="#474544"
                          d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564"/>
                </svg>
            </div>
            <div class="next_btn" title="Next">
                <svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     x="0px"
                     y="0px"
                     width="75px"
                     height="75px"
                     viewBox="0 0 35 35">
                    <path fill="#474544"
                          d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
                </svg>
            </div>
        </div>

    </section>
</main>

<%- include('partials/footer-2') %>
</body>
<%- include('partials/scripts') %>
</html>
