<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body >
<%- include('partials/header') %>

<main class="content">
    <section id="featured-intro">
        <h1 class="section-title">Featured Page</h1>
        <p>This page displays the various project deliverables throughout the semester as well as sections to describe
            how I fulfilled the different project requirements and resources used.</p>
    </section>
    <section id="latest-project">
        <h1 class="section-title">Latest Projects</h1>
        <p>Latest projects I designed and developed</p>
        <p> <br></p>
        <div class="ProjectCarousel">
            <div class="List">
                <div class="Projects">
                    <% projects.latest.forEach(latest => { %>
                    <div class="Project">
                        <div class="Project-Info">
                            <h2 class="Title"> <%- latest.title %></h2>
                            <h3 class="project-description">
                                <%- latest.description %>
                            </h3>
                            <div class="project-stack mb-sm">
                                <h4 class="section__subtitle">Technologies used:</h4>
                                <div class="tag-group">
                                    <% latest.languages.forEach(language => { %>
                                        <span class="tag-group__tag tag-group__tag--card"><%= language %> - </span>
                                    <% }) %>
                                </div>
                            </div>
                            <div class="project-card--buttons">
                                <% if (latest.repo) { %>
                                    <a href="<%= latest.repo %>" class="btn btn--project mr-sm">View Code</a>
                                <% } %>
                                <% if (latest.link) { %>
                                    <a href="<%= latest.link %>" class="btn btn--project">Live Demo</a>
                                <% } %>
                            </div>
                        </div>
                        <div class="Project-image">
                            <img src="<%- latest.imagePath %>"></im>
                        </div>
                    </div>
                        <% }) %>
                </div>
            </div>

            <div class="Controls"> <!--      Slider Controller          -->
                <div aria-label="previous" class="Control prev" ></div>
                <div aria-label="next" class="Control  next"></div>
            </div>
        </div>
    </section>

    <section id="other-projects" style="padding-top: 75px; margin-bottom:25px">
        <h1 class="section-title">Others</h1>

        <div  class="Other-wrapper"> <!-- Wrapper -->
            <% projects.others.forEach(other => { %>
            <div class="Other-Project">
                <div class="project-card--buttons">
                    <% if (other.repo) { %>
                        <a href="<%= other.repo %>"><i class="fab fa-github-square"></i> </a>
                    <% } %>
                    <% if (other.link) { %>
                        <a href="<%= other.link %>"><i class="fas fa-desktop smaller-icon"></i></a>
                </div>
                <h3 class="Title"> <%- other.title %></h3>
                <p class="project-description">
                    <%- other.description %>
                </p>
                <div class="project-stack mb-sm">
                    <h5 class="section__subtitle">Technologies used:</h5>
                    <div class="tag-group">
                        <% other.languages.forEach(language => { %>
                            <span class="tag-group__tag tag-group__tag--card"><%= language %> - </span>
                        <% }) %>
                    </div>
                </div>
                <br>
            </div>
            <% }})%>
        </div>
    </section>

</main>

<%- include('partials/footer-2') %>
</body>
<%- include('partials/scripts') %>
</html>
